@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&family=Schoolbell&display=swap');
@import "tailwindcss";

.font-poppins {
    font-family: 'Poppins', sans-serif !important;
}

.font-schoolbell {
    font-family: 'Schoolbell', cursive !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}